{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Home | Post</title>
{% endblock title %}

{% block content %}
    {% include "testapp/preloader.html" %}
    {% include "testapp/header.html" %}

    <div class="modal animated fadeIn" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content e-m-contents">
                <div class="modal-body">
                    <button type="button" class="close es-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="card estimate-card es-card-2">
                        <span class="flaticon-paint esc-paint"></span>
                        <h2>Get An Estimate</h2>
                        <article class="card-body">
                            <form>
                                <span class="e-ctl"> 1. What are the wall dimensions?</span>
                                <div class="form-row pt-2">
                                    <div class="col form-group">
                                        <label>Height (m) </label>
                                        <input type="text" class="form-control" placeholder="0.00" id="wd-height" required>
                                    </div>
                                    <div class="col form-group">
                                        <label>Width (m)</label>
                                        <input type="text" class="form-control" placeholder="0.00" id="wd-width" required>
                                    </div>
                                </div>
                                <span class="e-ctl">2. What are the dimensions of the windows/areas
                                    that you don't want to cover in metres?</span>
                                <div class="form-row pt-2">
                                    <div class="form-group col">
                                        <label>Height (m)</label>
                                        <input type="text" class="form-control" placeholder="0.00" id="wnd-height" value="00.00">
                                    </div>
                                    <div class="form-group col">
                                        <label>Width (m)</label>
                                        <input type="text" class="form-control" placeholder="0.00" id="wnd-width" value="00.00">
                                    </div>
                                </div>
                                <span class="e-ctl">3. What are the dimensions of the doors
                                    that you don't want to cover in metres?</span>
                                <div class="form-row pt-2">
                                    <div class="form-group col">
                                        <label>Height (m)</label>
                                        <input type="text" class="form-control" placeholder="0" id="doord-height" value="00.00">
                                    </div>
                                    <div class="form-group col">
                                        <label>Width (m)</label>
                                        <input type="text" class="form-control" placeholder="0" id="doord-width" value="00.00">
                                    </div>
                                </div>
                                <span class="e-ctl">4. How many coats of paint do you want?</span>
                                <div class="form-group p-2">
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="coat-qty-check" value="1" checked>
                                        <span class="form-check-label"> 1 coat</span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="coat-qty-check" value="2">
                                        <span class="form-check-label"> 2 coat</span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="coat-qty-check" value="3">
                                        <span class="form-check-label"> 3 coat</span>
                                    </label>
                                </div>
                                <div class="e-result">
                                    <div class="e-tottle me-tottle">
                                        <h3 id="litre-result">00.00</h3>
                                        <span>litres of paint</span>
                                    </div>
                                    <div class="er-text">
                                        <p>This is based on a coverage of
                                            <span id="mitresquireperlitre">12</span>m² per litre of paint. Always
                                            check the coverage on the side
                                            of the tin before buying.
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn-block ebtn" id="estimate-btn">Get Estimate Now</button>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn-block ebtn-r" id="estimate-reset-btn">Reset Estimate</button>
                                </div>
                            </form>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="service-area">
        <div class="container">
            <div class="row">
                <h1>About Us</h1>
            </div>
        </div>
    </section>

    <section class="About-team">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="team-image">
                        <img src="{% static 'testapp/assets/images/team-members/member-01.png' %}" alt="">
                        <div class="n-of-members">
                            <div class="t-members">
                                <span class="cap-m"><span class="counterUp">102</span>K+</span>
                                <p>Dedicated
                                    Team Member</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="colo-content ab-us">
                        <p>Dedicated Team</p>
                        <h2>We Are Dedicated
                            In Our Work!</h2>
                        <p>For people like me, book are something solid and
                            real, whereas digital stuff is a bit more ethereal.
                            I like the trophy on my shelf, the presence in my
                            home. A nice book is just as valuable.
                        </p>
                        <p>Let's face it, a hell of a lot more useful. For people
                            like me, book are something solid and real where
                            digital stuff is a bit more ethereal. For people.</p>
                        <div class="btn-learn">
                            <span class="learn-ab"><a href="service.html">Our Services</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-experience">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="o-e-content">
                        <p>Why Choose Us</p>
                        <h1>We Are Experienced To Help
                            You For Your Paints!</h1>
                        <p>For people like me, book are something solid and real, whereas digital stuff
                            is a bit more ethereal. I like the trophy on my shelf, the presence in my
                            home. A nice book is just as valuable. Let's face it, a hell of a lot more useful.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="expart">
                                <div class="expart-icon">
                                    <span class="flaticon-paint ex-1"></span>
                                </div>
                                <div class="expart-content">
                                    <h4>Color Expert</h4>
                                    <p>For people like book something
                                        real, whereas digital stuff is
                                        bit more ethereal like the troph.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="expart">
                                <div class="expart-icon">
                                    <span class="flaticon-paint-1 ex-1"></span>
                                </div>
                                <div class="expart-content">
                                    <h4>Color Expert</h4>
                                    <p>For people like book something
                                        real, whereas digital stuff is
                                        bit more ethereal like the troph.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="expart">
                                <div class="expart-icon">
                                    <span class="flaticon-graphic-tool ex-1"></span>
                                </div>
                                <div class="expart-content">
                                    <h4>Color Expert</h4>
                                    <p>For people like book something
                                        real, whereas digital stuff is
                                        bit more ethereal like the troph.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="expart">
                                <div class="expart-icon">
                                    <span class="flaticon-pantone ex-1"></span>
                                </div>
                                <div class="expart-content">
                                    <h4>Color Expert</h4>
                                    <p>For people like book something
                                        real, whereas digital stuff is
                                        bit more ethereal like the troph.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="care-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="c-a-image">
                        <img src="{% static 'testapp/assets/images/service/Service-6.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="c-a-content">
                        <p>We Care You</p>
                        <h2>Always We Care About!</h2>
                        <p>For people like me, book are something solid and real, whereas digital
                            stuff is a bit more ethereal. I like the trophy on my shelf, the presence
                            in my home. A nice book is just as valuable. Let's face it, a hell of a lot
                            more useful. For people like me, book are something solid and real
                            where digital stuff is a bit more. Digital stuff is a bit more ethereal.
                            ike the trophy on my shelf,</p>
                        <p>The presence in my home. A nice book is just as valuable. Let's face it,
                            a hell of a lot more useful. For people like me, book are something
                            solid and real where digital stuff.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cap-1">
                                <div class="cap-text">
                                    <span class="cap-m"><span class="counterUp">140</span> K+</span>
                                    <p>Projects Completed</p>
                                </div>
                            </div>
                            <div class="cap-1 cap-2">
                                <div class="cap-text">
                                    <span class="cap-m"><span class="counterUp">212</span> &nbsp;K+</span>
                                    <p>Regular Users</p>
                                </div>
                            </div>
                            <div class="cap-1 cap-3">
                                <div class="cap-text ">
                                    <span class="cap-m"><span class="counterUp">121</span>&nbsp; +</span>
                                    <p>Awards</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-team">
        <div class="container">
            <div class="os-content">
                <p>Our Team</p>
                <h2>Meet The Team</h2>
                <p>Whereas digital stuff is a bit more ethereal. I like the trophy on my
                    shelf, the presence in my home nice book is just as valuable..</p>
            </div>
            <div class="row">
                <div class="col-md-4 wow fadeInUp" data-wow-delay=".5s">
                    <div class="st-member">
                        <img src="{% static 'testapp/assets/images/team-members/member1.jpg' %}" alt="">
                        <div class="st-s-icon">
                            <ul>
                                <li><a href="#"><i class="fab fa-twitter sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p sicon sticon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="wow fadeInDown" data-wow-delay="1s">Robison Croso</h3>
                    <p class="wow fadeInDown" data-wow-delay="1.5s">CEO & Founder</p>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                    <div class="st-member">
                        <img src="{% static 'testapp/assets/images/team-members/member2.jpg' %}" alt="">
                        <div class="st-s-icon">
                            <ul>
                                <li><a href="#"><i class="fab fa-twitter sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p sicon sticon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="wow fadeInDown" data-wow-delay="1s">Nila Amensta</h3>
                    <p class="wow fadeInDown" data-wow-delay="1.5s">CO Founder</p>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="1.5s">
                    <div class="st-member">
                        <img src="{% static 'testapp/assets/images/team-members/member3.jpg' %}" alt="">
                        <div class="st-s-icon">
                            <ul>
                                <li><a href="#"><i class="fab fa-twitter sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p sicon sticon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="wow fadeInDown" data-wow-delay="1s">Mohin Megun</h3>
                    <p class="wow fadeInDown" data-wow-delay="1.5s">Director Of Paint</p>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay=".5s">
                    <div class="st-member">
                        <img src="{% static 'testapp/assets/images/team-members/member4.jpg' %}" alt="">
                        <div class="st-s-icon">
                            <ul>
                                <li><a href="#"><i class="fab fa-twitter sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p sicon sticon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="wow fadeInDown" data-wow-delay="1s">William Marcy</h3>
                    <p class="wow fadeInDown" data-wow-delay="1.5s">Manager</p>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                    <div class="st-member">
                        <img src="{% static 'testapp/assets/images/team-members/member5.jpg' %}" alt="">
                        <div class="st-s-icon">
                            <ul>
                                <li><a href="#"><i class="fab fa-twitter sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p sicon sticon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="wow fadeInDown" data-wow-delay="1s">Manasa Viklo</h3>
                    <p class="wow fadeInDown" data-wow-delay="1.5s">Color Experts</p>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="1.5s">
                    <div class="st-member">
                        <img src="{% static 'testapp/assets/images/team-members/member6.jpg' %}" alt="">
                        <div class="st-s-icon">
                            <ul>
                                <li><a href="#"><i class="fab fa-twitter sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f sicon sticon"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p sicon sticon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="wow fadeInDown" data-wow-delay="1s">Washington Booker</h3>
                    <p class="wow fadeInDown" data-wow-delay="1.5s">Marketing Manager</p>
                </div>
            </div>
        </div>
    </section>

    {% include "testapp/ask-section.html" %}
    {% include "testapp/footer-section.html" %}
{% endblock content %}