{% load static %}

    <section class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-6">
                    <div class="about wow fadeInRight" data-wow-delay=".3s">
                        <div class="ab-ficon">
                            <span class="flaticon-paint-3 ficon-ab-1"></span>
                        </div>
                        <div class="au-tittle">
                            <p>About Us</p>
                            <h2>Doing Painting is Our Big Passion</h2>
                        </div>
                        <p>For people like me, book are something solid and
                            real, whereas digital stuff is a bit more ethereal.
                            I like the trophy on my shelf, the presence in my
                            home. A nice book is just as valuable as a
                            decoration as a beautiful porcelain urn - and.</p>
                        <p>Let's face it, a hell of a lot more useful. For people
                            like me, book are something solid and real where
                            digital stuff is a bit more ethereal. For people like
                            me, book are something solid and.</p>
                        <div class="btn-learn">
                            <span class="learn-ab"><a href="about-us.html">Learn More</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
