{% load static %}

    <section class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-6">
                    <div class="about wow fadeInRight" data-wow-delay=".3s">
                        <div class="ab-ficon">
                            <span class="flaticon-paint-3 ficon-ab-1"></span>
                        </div>
                        <div class="au-tittle">
                            <p>{{ about.sub_title}}</p>
                            <h2>{{ about.title }}</h2>
                        </div>
                        <p>{{ about.description | safe}}</p>
                        <div class="btn-learn">
                            <span class="learn-ab"><a href="{% url 'about-us' %}">Learn More</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
