{% load static %}

    <section class="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="blog-one wow fadeInUp" data-wow-delay=".5s">
                        <div class="bo-hover-content">
                            <span class="flaticon-art-1 ficon-blg"></span>
                        </div>
                        <h3>Painting is an illusion, a
                            piece of magic, so what
                            you see is not.</h3>
                        <div class="blg-meta">
                            <ul>
                                <li>Posted: 04th April, 2019</li>
                                <li>Tag: Paint , ainting</li>
                            </ul>
                        </div>
                        <p>Do activities you passionate about which
                            make your heart and soul perky including
                            things like working out cooking, painting
                            writing, yoga, hiking, walking.</p>
                        <div class="btn-learn-2">
                            <span class="learn-li"><a href="blog-details.html">Learn More</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-one wow fadeInUp" data-wow-delay="1s">
                        <div class="bo-hover-content">
                            <span class="flaticon-art-1 ficon-blg"></span>
                        </div>
                        <h3>Painting is a blind man
                            profession. He paints
                            not what he sees.</h3>
                        <div class="blg-meta">
                            <ul>
                                <li>Posted: 04th April, 2019</li>
                                <li>Tag: Paint , ainting</li>
                            </ul>
                        </div>
                        <p>Blind man profession. He paints what he
                            sees, but what he feels, what he tells
                            himself about what he has seen painting
                            Do activities you passionate about.</p>
                        <div class="btn-learn-2">
                            <span class="learn-li"><a href="blog-details.html">Learn More</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-one wow fadeInUp" data-wow-delay="1.5s">
                        <div class="bo-hover-content">
                            <span class="flaticon-art-1 ficon-blg"></span>
                        </div>
                        <h3>Man's profession paints
                            not what he sees, but
                            what he feel what tell.</h3>
                        <div class="blg-meta">
                            <ul>
                                <li>Posted: 04th April, 2019</li>
                                <li>Tag: Paint , ainting</li>
                            </ul>
                        </div>
                        <p>Blind man profession. He paint not what
                            he sees, but what he feels, what he tells
                            himself about what he has seen. Do
                            activities passionate about which make.</p>
                        <div class="btn-learn-2">
                            <span class="learn-li"><a href="blog-details.html">Learn More</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-two wow fadeInUp" data-wow-delay=".5s">
                        <img src="{% static 'testapp/assets/images/project/Ap-4.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-one wow fadeInUp" data-wow-delay="1s">
                        <div class="bo-hover-content">
                            <span class="flaticon-art-1 ficon-blg"></span>
                        </div>
                        <h3>Painting is an illusion, a
                            piece of magic, so what
                            you see is not.</h3>
                        <div class="blg-meta">
                            <ul>
                                <li>Posted: 04th April, 2019</li>
                                <li>Tag: Paint , ainting</li>
                            </ul>
                        </div>
                        <p>Do activities you passionate about which
                            make your heart and soul perky including
                            things like working out cooking, painting
                            writing, yoga, hiking, walking.</p>
                        <div class="btn-learn-2">
                            <span class="learn-li"><a href="blog-details.html">Learn More</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-one wow fadeInUp" data-wow-delay="1.5s">
                        <div class="bo-hover-content">
                            <span class="flaticon-art-1 ficon-blg"></span>
                        </div>
                        <h3>Man's profession paints
                            not what he sees, but
                            what he feel what tell.</h3>
                        <div class="blg-meta">
                            <ul>
                                <li>Posted: 04th April, 2019</li>
                                <li>Tag: Paint , ainting</li>
                            </ul>
                        </div>
                        <p>Blind man profession. He paint not what
                            he sees, but what he feels, what he tells
                            himself about what he has seen. Do
                            activities passionate about which make.</p>
                        <div class="btn-learn-2">
                            <span class="learn-li"><a href="blog-details.html">Learn More</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
