{% load static %}

    <section class="blog">
        <div class="container">
            <div class="row">
                {% comment %} <div class="col-md-4">
                    <div class="blog-two wow fadeInUp" data-wow-delay=".5s">
                        <img src="{% static 'testapp/assets/images/project/Ap-4.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-one wow fadeInUp" data-wow-delay="1s">
                        <div class="bo-hover-content">
                            <span class="flaticon-art-1 ficon-blg"></span>
                        </div>
                        <h3>Painting is an illusion, a
                            piece of magic, so what
                            you see is not.</h3>
                        <div class="blg-meta">
                            <ul>
                                <li>Posted: 04th April, 2019</li>
                                <li>Tag: Paint , ainting</li>
                            </ul>
                        </div>
                        <p>Do activities you passionate about which
                            make your heart and soul perky including
                            things like working out cooking, painting
                            writing, yoga, hiking, walking.</p>
                        <div class="btn-learn-2">
                            <span class="learn-li"><a href="blog-details.html">Learn More</a></span>
                        </div>
                    </div>
                </div> {% endcomment %}

                {% for item in blog_item %}
                <div class="col-md-4">
                    <div class="blog-one wow fadeInUp" data-wow-delay="1.5s">
                        <div class="bo-hover-content">
                            <span class="flaticon-art-1 ficon-blg"></span>
                        </div>
                        <h3>{{item.title}}.</h3>
                        <div class="blg-meta">
                            <ul>
                                <li>Posted: {{ item.date }}</li>
                                <li>
                                    Tag: 
                                    {% for tag_item in item.blog_tag.all %}
                                    <span>{{ tag_item.tag }},</span>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                        <p>{{ item.description | safe }}</p>
                        <div class="btn-learn-2">
                            <span class="learn-li"><a href="blog-details.html">Learn More</a></span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
