{% load static %}
    <section class="client-feedback">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="client-image wow fadeInLeft" data-wow-delay=".5s">
                        <img src="{% static 'testapp/assets/images/client.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="client-content">
                        <p>Testimonials</p>
                        <h3 data-aos="zoom-in">Clients Feedbacks</h3>
                        <p>Whereas digital stuff is a bit more ethereal,
                            I like the trophy on my shelf, the presence.</p>
                        <div class="testimo-slide">
                            <div class="carousel slide" data-ride="carousel" id="quote-carousel">

                                <div class="carousel-inner">

                                    <div class="item active carousel-item">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>“ Some people think that the truth can hidden
                                                    with little cover-up and decoration. But as time
                                                    goes by, what is true is revealed, and what
                                                    is fake fades away. ”</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item carousel-item">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>“ Some people think that the truth can hidden
                                                    with little cover-up and decoration. But as time
                                                    goes by, what is true is revealed, and what
                                                    is fake fades away. ”</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item carousel-item">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>“ Some people think that the truth can hidden
                                                    with little cover-up and decoration. But as time
                                                    goes by, what is true is revealed, and what
                                                    is fake fades away. ”</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item carousel-item">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>“ Some people think that the truth can hidden
                                                    with little cover-up and decoration. But as time
                                                    goes by, what is true is revealed, and what
                                                    is fake fades away. ”</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item carousel-item">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>“ Some people think that the truth can hidden
                                                    with little cover-up and decoration. But as time
                                                    goes by, what is true is revealed, and what
                                                    is fake fades away. ”</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <ol class="carousel-indicators testimo-indicat">
                                    <li data-target="#quote-carousel" data-slide-to="0" class="active">
                                        <img class="img-fluid " src="{% static 'testapp/assets/images/slider/c-1.jpg' %}" alt="">
                                    </li>
                                    <li data-target="#quote-carousel" data-slide-to="1">
                                        <img class="img-fluid" src="{% static 'testapp/assets/images/slider/c-2.jpg' %}" alt="">
                                    </li>
                                    <li data-target="#quote-carousel" data-slide-to="2">
                                        <img class="img-fluid" src="{% static 'testapp/assets/images/slider/c-3.jpg' %}" alt="">
                                    </li>
                                    <li data-target="#quote-carousel" data-slide-to="3">
                                        <img class="img-fluid" src="{% static 'testapp/assets/images/slider/c-4.jpg' %}" alt="">
                                    </li>
                                    <li data-target="#quote-carousel" data-slide-to="4">
                                        <img class="img-fluid" src="{% static 'testapp/assets/images/slider/c-5.jpg' %}" alt="">
                                    </li>
                                </ol>

                                <div class="testimonial-nav">
                                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control btn-prev"><i class="fa fa-chevron-left"></i></a>
                                    <a data-slide="next" href="#quote-carousel" class="right carousel-control btn-next"><i class="fa fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
