{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Home | Post</title>
{% endblock title %}

{% block content %}
    {% include "testapp/preloader.html" %}
    {% include "testapp/header.html" %}
    
    <div class="modal animated fadeIn" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content e-m-contents">
                <div class="modal-body">
                    <button type="button" class="close es-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="card estimate-card es-card-2">
                        <span class="flaticon-paint esc-paint"></span>
                        <h2>Get An Estimate</h2>
                        <article class="card-body">
                            <form>
                                <span class="e-ctl"> 1. What are the wall dimensions?</span>
                                <div class="form-row pt-2">
                                    <div class="col form-group">
                                        <label>Height (m) </label>
                                        <input type="text" class="form-control" placeholder="0.00" id="wd-height" required>
                                    </div>
                                    <div class="col form-group">
                                        <label>Width (m)</label>
                                        <input type="text" class="form-control" placeholder="0.00" id="wd-width" required>
                                    </div>
                                </div>
                                <span class="e-ctl">2. What are the dimensions of the windows/areas
                                    that you don't want to cover in metres?</span>
                                <div class="form-row pt-2">
                                    <div class="form-group col">
                                        <label>Height (m)</label>
                                        <input type="text" class="form-control" placeholder="0.00" id="wnd-height" value="00.00">
                                    </div>
                                    <div class="form-group col">
                                        <label>Width (m)</label>
                                        <input type="text" class="form-control" placeholder="0.00" id="wnd-width" value="00.00">
                                    </div>
                                </div>
                                <span class="e-ctl">3. What are the dimensions of the doors
                                    that you don't want to cover in metres?</span>
                                <div class="form-row pt-2">
                                    <div class="form-group col">
                                        <label>Height (m)</label>
                                        <input type="text" class="form-control" placeholder="0" id="doord-height" value="00.00">
                                    </div>
                                    <div class="form-group col">
                                        <label>Width (m)</label>
                                        <input type="text" class="form-control" placeholder="0" id="doord-width" value="00.00">
                                    </div>
                                </div>
                                <span class="e-ctl">4. How many coats of paint do you want?</span>
                                <div class="form-group p-2">
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="coat-qty-check" value="1" checked>
                                        <span class="form-check-label"> 1 coat</span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="coat-qty-check" value="2">
                                        <span class="form-check-label"> 2 coat</span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="coat-qty-check" value="3">
                                        <span class="form-check-label"> 3 coat</span>
                                    </label>
                                </div>
                                <div class="e-result">
                                    <div class="e-tottle me-tottle">
                                        <h3 id="litre-result">00.00</h3>
                                        <span>litres of paint</span>
                                    </div>
                                    <div class="er-text">
                                        <p>This is based on a coverage of
                                            <span id="mitresquireperlitre">12</span>m² per litre of paint. Always
                                            check the coverage on the side
                                            of the tin before buying.
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn-block ebtn" id="estimate-btn">Get Estimate Now</button>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn-block ebtn-r" id="estimate-reset-btn">Reset Estimate</button>
                                </div>
                            </form>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="service-area">
        <div class="container">
            <div class="row">
                <h1 class="wow zoomIn" data-wow-delay=".5s">Contact Us</h1>
            </div>
        </div>
    </section>


    <section class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-contact">
                        <span class="flaticon-envelope bg-envelope"></span>
                        <div class="sc-icon-inner">
                            <span class="flaticon-envelope"></span>
                        </div>
                        <h5>Send Email Us:</h5>
                        <p><a href="#" class="__cf_email__" data-cfemail="ec818d8580999fac9f999c9c839e98c28f8381">[email&#160;protected]</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-contact">
                        <span class="flaticon-phone bg-phone"></span>
                        <div class="sc-icon-inner">
                            <span class="flaticon-phone"></span>
                        </div>
                        <h5>Call Use</h5>
                        <p>+44 8784 5869 (00)</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-contact">
                        <span class="flaticon-placeholder bg-placeholder"></span>
                        <div class="sc-icon-inner">
                            <span class="flaticon-placeholder"></span>
                        </div>
                        <h5>Our Location</h5>
                        <p>10/2, Middle West, NY</p>
                    </div>
                </div>
                <div class="col-md-8 offset-md-2">
                    <div class="message">
                        <h1>Drop Us A Message Now:</h1>
                    </div>
                    <div class="message-box">
                        <form class="cf" method="post" action="#" id="cf">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Your Name*</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Your Name Here">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Email Address*</label>
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Email Address Here">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Subject Line*</label>
                                    <input type="text" class="form-control" id="subjectName" name="subjectName" placeholder="Subject Of Massage">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Telephone Number*</label>
                                    <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone Number">
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Your Message</label>
                                    <textarea rows="6" class="form-control" id="msg" name="msg" placeholder="Write Your Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <button type="submit" id="submit" name="submit" class="cf-btn btn btn-dark">Send Now</button>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <div class="cf-msg"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% include "testapp/ask-section.html" %}
    {% include "testapp/footer-section.html" %}
{% endblock content %}