{% load static %}
    <section class="hero-area-1" style="background-image: url('{{ hero.image.url }}');">
        <div class="container">
            <div class="row">
                {% include "testapp/form-estimate.html" %}
                <div class="col-md-7">
                    <div class="hero-content-1">
                        <h1 class="wow fadeInLeft" data-wow-delay=".5s">{{ hero.title }}</h1>
                        <p class="wow fadeInLeft" data-wow-delay="1s">
                            {{hero.description | safe}}
                        </p>
                        <div class="btn-learn">
                            <span class="learn-ab"><a href="{% url 'contact-us' %}">Contact Us</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
