{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Home | Post</title>
{% endblock title %}

{% block content %}
    {% include "testapp/preloader.html" %}
    {% include "testapp/header.html" %}
    {% include "testapp/hero-section.html" %}
    {% include "testapp/service-section.html" %}
    {% include "testapp/about-section.html" %}
    {% include "testapp/project-section.html" %}
    {% include "testapp/client-section.html" %}
    {% include "testapp/blog-section.html" %}
    {% include "testapp/ask-section.html" %}
    {% include "testapp/footer-section.html" %}
{% endblock content %}