{% load static %}
    <script src="{% static 'testapp/assets/js/jquery-3.4.1.min.js' %}"></script>

    <script src="{% static 'testapp/assets/js/wow.min.js' %}"></script>

    <script src="{% static 'testapp/assets/js/countdown.js' %}"></script>

    <script src="{% static 'testapp/assets/js/jquery.counterup.min.js' %}"></script>

    <script src="{% static 'testapp/assets/js/shuffle.js' %}"></script>

    <script src="{% static 'testapp/assets/js/waypoints.min.js' %}"></script>

    <script src="{% static 'testapp/assets/js/jquery-ui.js' %}"></script>

    <script src="{% static 'testapp/assets/js/jquery.fancybox.min.js' %}"></script>

    <script src="{% static 'testapp/assets/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'testapp/assets/js/custom.js' %}"></script>