{% load static %}
    <section class="completed-project">
        <div class="container">
            <div class="recent-top">
                <p>{{project.sub_title}}</p>
                <h3>{{project.title}}</h3>
                <p>{{project.description | safe }}</p>
            </div>
            <div class="recent-project">
                <div class="row">
                    {% for item in project_item %}
                        <div class="{{ item.media }}">
                            <div class="project-1">
                                <img src="{{ item.image.url }}" alt="">
                                <div class="prj-1-content prj-three">
                                    <div class="p-icon">
                                        <span class="flaticon-repair ficon-pj-1 ficon-pj-3"></span>
                                    </div>
                                    <h4>{{item.title}}</h4>
                                    <p>{{item.description | safe }}</p>
                                    <a href="portfolio-details.html"> Learn More</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                    {% comment %} <div class="col-md-5">
                        <div class="prj-1-content">
                            <div class="p-icon">
                                <span class="flaticon-repair ficon-pj-1"></span>
                            </div>
                            <h4>Colorful Painting For
                                Your Dream!</h4>
                            <p>There is no society ever discovered in remotest
                                corner the world that has not had something
                                that we would consider the arts.</p>
                            <a href="portfolio-details.html"> Learn More</a>
                        </div>
                        <div class="project-1">
                            <img src="{% static 'testapp/assets/images/project/project-1.png' %}" alt="">
                            <div class="prj-1-content">
                                <div class="p-icon">
                                    <span class="flaticon-repair ficon-pj-1"></span>
                                </div>
                                <h4>Colorful Painting For
                                    Your Dream!</h4>
                                <p>There is no society ever discovered in remotest
                                    corner the world that has not had something
                                    that we would consider the arts.</p>
                                <a href="portfolio-details.html"> Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="project-1">
                            <img src="{% static 'testapp/assets/images/project/project-2.png' %}" alt="">
                            <div class="prj-1-content prj-two">
                                <div class="p-icon">
                                    <span class="flaticon-repair ficon-pj-1 ficon-pj-2"></span>
                                </div>
                                <h4>Colorful Painting For
                                    Your Dream!</h4>
                                <p>There is no society ever discovered in remotest
                                    corner the world that has not had something
                                    that we would consider the arts.</p>
                                <a href="portfolio-details.html"> Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="project-1">
                            <img src="{% static 'testapp/assets/images/project/project-3.png' %}" alt="">
                            <div class="prj-1-content prj-three">
                                <div class="p-icon">
                                    <span class="flaticon-repair ficon-pj-1 ficon-pj-3"></span>
                                </div>
                                <h4>Colorful Painting For
                                    Your Dream!</h4>
                                <p>There is no society ever discovered in remotest
                                    corner the world that has not had something
                                    that we would consider the arts.</p>
                                <a href="portfolio-details.html"> Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="project-1">
                            <img src="{% static 'testapp/assets/images/project/project-4.png' %}" alt="">
                            <div class="prj-1-content prj-three">
                                <div class="p-icon">
                                    <span class="flaticon-repair ficon-pj-1 ficon-pj-3"></span>
                                </div>
                                <h4>Colorful Painting For
                                    Your Dream!</h4>
                                <p>There is no society ever discovered in remotest
                                    corner the world that has not had something
                                    that we would consider the arts.</p>
                                <a href="portfolio-details.html"> Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="project-1">
                            <img src="{% static 'testapp/assets/images/project/project-5.png' %}" alt="">
                            <div class="prj-1-content prj-three">
                                <div class="p-icon">
                                    <span class="flaticon-repair ficon-pj-1 ficon-pj-3"></span>
                                </div>
                                <h4>Colorful Painting For
                                    Your Dream!</h4>
                                <p>There is no society ever discovered in remotest
                                    corner the world that has not had something
                                    that we would consider the arts.</p>
                                <a href="portfolio-details.html"> Learn More</a>
                            </div>
                        </div>
                    </div> {% endcomment %}

                </div>
            </div>
        </div>
    </section>
