{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Home | Post</title>
{% endblock title %}

{% block content %}
{% include "testapp/preloader.html" %}
{% include "testapp/header.html" %}

<div class="modal animated fadeIn" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content e-m-contents">
            <div class="modal-body">
                <button type="button" class="close es-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="card estimate-card es-card-2">
                    <span class="flaticon-paint esc-paint"></span>
                    <h2>Get An Estimate</h2>
                    <article class="card-body">
                        <form>
                            <span class="e-ctl"> 1. What are the wall dimensions?</span>
                            <div class="form-row pt-2">
                                <div class="col form-group">
                                    <label>Height (m) </label>
                                    <input type="text" class="form-control" placeholder="0.00" id="wd-height" required>
                                </div>
                                <div class="col form-group">
                                    <label>Width (m)</label>
                                    <input type="text" class="form-control" placeholder="0.00" id="wd-width" required>
                                </div>
                            </div>
                            <span class="e-ctl">2. What are the dimensions of the windows/areas
                                that you don't want to cover in metres?</span>
                            <div class="form-row pt-2">
                                <div class="form-group col">
                                    <label>Height (m)</label>
                                    <input type="text" class="form-control" placeholder="0.00" id="wnd-height" value="00.00">
                                </div>
                                <div class="form-group col">
                                    <label>Width (m)</label>
                                    <input type="text" class="form-control" placeholder="0.00" id="wnd-width" value="00.00">
                                </div>
                            </div>
                            <span class="e-ctl">3. What are the dimensions of the doors
                                that you don't want to cover in metres?</span>
                            <div class="form-row pt-2">
                                <div class="form-group col">
                                    <label>Height (m)</label>
                                    <input type="text" class="form-control" placeholder="0" id="doord-height" value="00.00">
                                </div>
                                <div class="form-group col">
                                    <label>Width (m)</label>
                                    <input type="text" class="form-control" placeholder="0" id="doord-width" value="00.00">
                                </div>
                            </div>
                            <span class="e-ctl">4. How many coats of paint do you want?</span>
                            <div class="form-group p-2">
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="coat-qty-check" value="1" checked>
                                    <span class="form-check-label"> 1 coat</span>
                                </label>
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="coat-qty-check" value="2">
                                    <span class="form-check-label"> 2 coat</span>
                                </label>
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="coat-qty-check" value="3">
                                    <span class="form-check-label"> 3 coat</span>
                                </label>
                            </div>
                            <div class="e-result">
                                <div class="e-tottle me-tottle">
                                    <h3 id="litre-result">00.00</h3>
                                    <span>litres of paint</span>
                                </div>
                                <div class="er-text">
                                    <p>This is based on a coverage of
                                        <span id="mitresquireperlitre">12</span>m² per litre of paint. Always
                                        check the coverage on the side
                                        of the tin before buying.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn-block ebtn" id="estimate-btn">Get Estimate Now</button>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn-block ebtn-r" id="estimate-reset-btn">Reset Estimate</button>
                            </div>
                        </form>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="service-area ser-2">
    <div class="container">
        <div class="row">
            <h1 class="wow zoomIn" data-wow-delay=".5s">Wall Painting</h1>
        </div>
    </div>
</section>

<section class="wall-painting">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="painting wow fadeInLeft" data-wow-delay=".3s">
                    <img src="{% static 'testapp/assets/images/service/Service-Details1.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="paint-about wow fadeInLeft" data-wow-delay="1s">
                    <h1>Details About Wall
                        Painting!</h1>
                    <p>For people like me, book are something solid and real
                        whereas digital stuff is a bit more ethereal. I like the
                        trophy on my shelf, the presence in my home. A nice
                        book is just as valuable as a.</p>
                    <p>Let's face it, a hell of a lot more useful. For people like
                        me, book are something solid and real where digital
                        stuff is a bit more ethereal for people like me.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wall-p-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="w-p-text">
                    <p>For people like me, book are something solid and real whereas digital stuff is a bit more
                        ethereal. I like the trophy my shelf
                        the presence in my home. A nice book is just as valuable as a. Let's face it, a hell of a
                        lot more useful. For people like book
                        are something solid and real where digital stuff is a bit more ethereal for people like me.
                        For people like book are something
                        solid and real whereas digital stuff is a bit more ethereal. I like the trophy on my shelf,
                        the presence in my home. A nice
                        is just as valuable as a. Let's face it, a hell of a lot more useful. For people like me.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="well-painting-service">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="wps-text">
                    <p>The for people like me, book are something solid and real
                        whereas digital stuff is a bit more ethereal. I like the trophy
                        on my shelf, the presence in my home. A nice book is just
                        as valuable as a. Let's face it, a hell of a lot more useful.
                        For people like me, book are something.</p>
                    <p>Real where digital stuff is a bit more ethereal for people like
                        me. For people like me, book are something solid and real
                        whereas digital stuff is a bit more ethereal.</p>
                </div>
                <div class="wp-services wow fadeInLeft" data-wow-delay=".3s">
                    <h3>Wall Painting Services!</h3>
                    <ul>
                        <li><a href="#">- Decorative Plaster</a></li>
                        <li><a href="#">- Coating Removal</a></li>
                        <li><a href="#">- Decorative Plaster</a></li>
                        <li><a href="#">- Faux Finishing</a></li>
                        <li><a href="#">- Stenciling</a></li>
                        <li><a href="#">- Wood Refinishing</a></li>
                        <li><a href="#">- Decorative Plaster</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-serv-image">
                    <img src="{% static 'testapp/assets/images/service/Service-Details2.png' %}" alt="">
                    <div class="psi-bg wow bounceInRight" data-wow-delay=".5s">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "testapp/ask-section.html" %}
{% include "testapp/footer-section.html" %}
{% endblock content %}