{% load static %}

    <section class="our-service">
        <div class="container">
            <div class="Exclusive-service">
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-service wow fadeInUp" data-wow-delay=".5s">
                            <span class="flaticon-paint ficon-bg-1"></span>
                            <div class="icon-inner">
                                <span class="flaticon-paint"></span>
                            </div>
                            <div class="ss-content">
                                <h3>WALL PAINTING</h3>
                                <p>A great novel concerned primarily with
                                    the interior lives its characters as they
                                    respond the inconvenient narratives
                                    that fate imposes ono them adaptations
                                    these monumental fictions often fail.</p>
                                <a href="service-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-service ss-2 wow fadeInUp" data-wow-delay="1s">
                            <span class="flaticon-paint-1 ficon-bg-2"></span>
                            <div class="icon-inner">
                                <span class="flaticon-paint-1"></span>
                            </div>
                            <div class="ss-content">
                                <h3>NEW MAKEOVER</h3>
                                <p>There is societ ever discovered remotest
                                    corner of the world that has something
                                    that we would consider the arts. Visual
                                    arts - decoration of surfaces and bodies
                                    - appears to be a human universal.</p>
                                <a href="service-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-service wow fadeInUp" data-wow-delay="1.5s">
                            <span class="flaticon-paint-roller ficon-bg-3"></span>
                            <div class="icon-inner">
                                <span class="flaticon-paint-roller"></span>
                            </div>
                            <div class="ss-content">
                                <h3>REGULAR PAINTING</h3>
                                <p>A great novel concerned primarily with
                                    the interior lives its characters as they
                                    respond the inconvenient narratives
                                    that fate imposes ono them adaptations
                                    these monumental fictions often fail.</p>
                                <a href="service-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-service ss-2 wow fadeInUp" data-wow-delay=".5s">
                            <span class="flaticon-pantone ficon-bg-1"></span>
                            <div class="icon-inner">
                                <span class="flaticon-pantone"></span>
                            </div>
                            <div class="ss-content">
                                <h3>FLOOR COATING</h3>
                                <p>A great novel concerned primarily with
                                    the interior lives its characters as they
                                    respond the inconvenient narratives
                                    that fate imposes ono them adaptations
                                    these monumental fictions often fail.</p>
                                <a href="service-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-service wow fadeInUp" data-wow-delay="1s">
                            <span class="flaticon-art ficon-bg-5"></span>
                            <div class="icon-inner">
                                <span class="flaticon-art"></span>
                            </div>
                            <div class="ss-content">
                                <h3>GRAFFITI REMIVAL</h3>
                                <p>There is societ ever discovered remotest
                                    corner of the world that has something
                                    that we would consider the arts. Visual
                                    arts - decoration of surfaces and bodies
                                    - appears to be a human universal.</p>
                                <a href="service-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-service ss-2 wow fadeInUp" data-wow-delay="1.5s">
                            <span class="flaticon-graphic-tool ficon-bg-6"></span>
                            <div class="icon-inner">
                                <span class="flaticon-graphic-tool"></span>
                            </div>
                            <div class="ss-content">
                                <h3>CRAFT DESIGNING</h3>
                                <p>A great novel concerned primarily with
                                    the interior lives its characters as they
                                    respond the inconvenient narratives
                                    that fate imposes ono them adaptations
                                    these monumental fictions often fail.</p>
                                <a href="service-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
